/* Screen sizes */
$screen_xsmall: "375px";
$screen_small: "576px";
$screen_medium: "768px";
$screen_large: "992px";
$screen_xlarge: "1200px";

/* Colors */
$primary: #FF9718;
$darkGray: #272C30;
$gray: #7A7979;
$lightGray: #BEBEBE;
$light: #FFFFFF;